$gray-700: #090909;
$gray-600: #141414;
$gray-500: #292929;
$gray-400: #494949;
$gray-300: #696969;
$gray-200: #cccccc;
$gray-100: #fafafa;
$gray-000: #ffffff;

@font-face {
	src: url(/resources/fonts/AktivGrotesk-Light.ttf);
	font-family: aktiv;
	font-weight: 200;
}
@font-face {
	src: url(/resources/fonts/AktivGrotesk-Regular.ttf);
	font-family: aktiv;
	font-weight: 400;
}
@font-face {
	src: url(/resources/fonts/AktivGrotesk-Medium.ttf);
	font-family: aktiv;
	font-weight: 600;
}
@font-face {
	src: url(/resources/fonts/AktivGrotesk-Bold.ttf);
	font-family: aktiv;
	font-weight: 800;
}
@font-face {
	src: url(/resources/fonts/Metropolis-Medium.otf);
	font-family: metro;
	font-weight: 600;
}
@font-face {
	src: url(/resources/fonts/Metropolis-SemiBold.otf);
	font-family: metro;
	font-weight: 800;
}

* {
	margin: 0;
	user-select: none;
}
body {
	background-color: white;
	-webkit-font-smoothing: antialiased;
}

@mixin bottom-nav {
	background-color: $gray-100;
	height: max-content;
	border-radius: 8px;
	width: 20vw;
	min-width: max-content;

	.icons {
		display: flex;
		// gap: 3vw;
		padding: 20px;
		justify-content: space-between;
		.tab {
			img {
				filter: opacity(0.3);
			}
			[type='radio'] {
				position: absolute;
				z-index: 999;
				opacity: 0;
				cursor: pointer;
				width: 1.4vw;
				height: 1.4vw;

				&:checked ~ img {
					opacity: 1;
					filter: opacity(1);
				}
			}
			cursor: pointer;
		}
	}
}

@mixin reach-card {
	height: max-content;
	width: 20vw;
	display: flex;
	flex-direction: column;
	img {
		margin-right: 1vw;
	}
	.content {
		display: flex;
		background-color: $gray-100;
		padding: 20px;
		border-radius: 8px;
		.heading-pair {
			margin-top: 0;

			.heading {
				font-size: 12px;
				font-family: metro;
			}

			.subheading {
				margin-top: 0.6vh;
				font-size: 10px;
				font-family: metro;
				color: $gray-300;
				line-height: 14px;
			}
		}
	}
	.card1 {
		z-index: 999;
		animation: moveCard1 0.6s ease-in-out infinite;
		animation-delay: 4s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;

		@keyframes moveCard1 {
			25% {
				transform: translateY(0px);
			}
			50% {
				transform: translateY(-10px) scale(0.9);
			}
			75% {
				transform: translateY(0px) scale(0.9);
			}
			100% {
				transform: translateY(10px) scale(0.9);
				opacity: 0.6;
			}
		}
	}
	.card2 {
		opacity: 0.6;
		transform: scale(0.9);
		margin-top: -78px;
		animation: moveCard2 0.6s ease-in-out 4.2s 1 forwards;

		@keyframes moveCard2 {
			25% {
				transform: translateY(0px);
			}
			50% {
				transform: translateY(-6px) scale(1);
				opacity: 1;
				z-index: 9999;
			}
			75% {
				transform: translateY(-6px) scale(1);
				opacity: 1;
				z-index: 9999;
			}
			100% {
				transform: translateY(-6px) scale(1);
				opacity: 1;
				z-index: 9999;
			}
		}
	}
}

@mixin night-mode-card {
	background-color: $gray-700;
	border-radius: 8px;
	text-align: center;
	width: 20vw;
	height: max-content;

	.content {
		padding: 40px;
		text-align: center;
		.moon-icon {
			margin: 0 auto;
			width: max-content;
			text-align: center;
			display: flex;
			.stars {
				margin-right: 4px;
				#big {
					animation: rotateStar 16s linear forwards;
					animation-iteration-count: infinite;
					@keyframes rotateStar {
						from {
							transform: rotate(0deg);
						}
						to {
							transform: rotate(360deg);
						}
					}
				}
				#small {
					animation: rotateStar 10s linear forwards;
					animation-iteration-count: infinite;
					@keyframes rotateStar {
						from {
							transform: rotate(0deg);
						}
						to {
							transform: rotate(360deg);
						}
					}
				}
			}
			.moon {
				img {
				}
			}
		}

		button {
			background-color: #00ba8c;
			font-size: 12px;
			font-family: metro;
			font-weight: 800;
			color: white;
			padding: 10px 24px;
			border-radius: 4px;
			border: none;
			cursor: pointer;
			margin-top: 2vh;

			&:hover {
				background-color: #008363;
			}

			&:focus {
				outline: none;
			}
		}
		.heading-pair {
			margin: 0 auto;
			margin-top: 4vh;
			width: auto;
			text-align: center;
			.heading {
				font-family: metro;
				font-size: 14px;
				color: white;
			}
			.subheading {
				margin-top: 0;
				font-family: metro;
				font-size: 11px;
				color: $gray-200;
				margin-top: 0.8vh;
				opacity: 0.8;
				line-height: 16px;
			}
		}
	}
}

@mixin review-card {
	width: 20vw;
	background-color: $gray-100;
	border-radius: 8px;
	.header {
		display: flex;
		padding: 20px;
		align-items: center;
		justify-content: space-between;
		.left {
			padding-bottom: 0;
			margin: 0 auto;
			display: flex;
			gap: 8px;
			align-items: center;
			width: 20vw;

			.heading {
				font-family: metro;
				font-size: 12px;
				font-weight: 600;
				color: $gray-600;
			}

			.subheading {
				font-family: metro;
				font-size: 9px;
				font-weight: 600;
				color: $gray-300;
				opacity: 0.8;
				margin-top: 0.6vh;
			}
		}
		.right {
			height: max-content;
		}
	}

	.body {
		padding: 20px;
		padding-top: 0px;
		font-family: metro;
		font-size: 11px;
		line-height: 17px;
		letter-spacing: -0.3px;
		color: $gray-600;
		width: auto;
	}
}

@mixin about-card {
	width: 20vw;
	background-color: $gray-100;
	border-radius: 8px;
	padding-right: 0;

	.header {
		padding: 20px;
		display: flex;
		justify-content: space-between;
		.left {
			.heading {
				font-family: metro;
				font-size: 14px;
				font-weight: 600;
				color: $gray-600;
			}
			.subheading {
				font-family: metro;
				font-size: 9px;
				font-weight: 600;
				color: $gray-300;
				opacity: 0.8;
				margin-top: 0.6vh;
			}
		}
		.right {
			transform: scale(0.3);
			height: auto;
			padding-left: 5vw;
			.cloud2 {
				color: #fafafa;
				background: #fafafa;
				position: absolute;
				width: 3.4875em;
				height: 3.4875em;
				border-radius: 50%;
				box-shadow: 2.0625em 0.9375em 0 -0.9375em, 0 0 0 0.375em black, 2.0625em 0.9375em 0 -0.5625em black;
			}

			.rain {
				transform: translate(1.3em, 2.2em);
				width: 2.8em;
				height: 2.5em;
				background: #fafafa;
				position: absolute;
			}

			.rain:after {
				content: '';
				position: absolute;
				display: block;
				z-index: 2;
				color: black;
				background: black;
				width: 0.3em;
				height: 1em;
				border-radius: 0.15em;
				transform: translate(0.4em, 0.2em) rotate(20deg);
				animation: rain 2s infinite ease-in-out;
				box-shadow: 0.6em 0.6em, 1.2em -0.2em, 1.2em 1.2em, 1.8em 0.2em;
			}

			@keyframes rain {
				0% {
					background-color: rgba(0, 0, 0, 0.2);
					box-shadow: 0.6em 0.6em rgba(0, 0, 0, 0.2), 1.2em -0.2em rgba(0, 0, 0, 0.2), 1.2em 1.2em rgba(0, 0, 0, 0.2), 1.8em 0.2em rgba(0, 0, 0, 0.2);
				}
				30% {
					background-color: black;
					box-shadow: 0.6em 0.6em rgba(0, 0, 0, 0.2), 1.2em -0.2em black, 1.2em 1.2em rgba(0, 0, 0, 0.2), 1.8em 0.2em rgba(0, 0, 0, 0.2);
				}
				50% {
					background-color: rgba(0, 0, 0, 0.2);
					box-shadow: 0.6em 0.6em black, 1.2em -0.2em 0 rgba(0, 0, 0, 0.2), 1.2em 1.2em rgba(0, 0, 0, 0.2), 1.8em 0.2em black;
				}
				80% {
					background-color: rgba(0, 0, 0, 0.2);
					box-shadow: 0.6em 0.6em rgba(0, 0, 0, 0.2), 1.2em -0.2em rgba(0, 0, 0, 0.2), 1.2em 1.2em black, 1.8em 0.2em rgba(0, 0, 0, 0.2);
				}
				100% {
					background-color: rgba(0, 0, 0, 0.2);
					box-shadow: 0.6em 0.6em rgba(0, 0, 0, 0.2), 1.2em -0.2em rgba(0, 0, 0, 0.2), 1.2em 1.2em rgba(0, 0, 0, 0.2), 1.8em 0.2em rgba(0, 0, 0, 0.2);
				}
			}
		}
	}
	.body {
		font-family: metro;
		font-size: 11px;
		padding: 20px;
		padding-top: 0px;
		line-height: 17px;
		letter-spacing: -0.3px;
		color: $gray-600;
		width: auto;
	}
}

@mixin calendar-card {
	width: 20vw;
	height: auto;
	background-color: $gray-100;
	border-radius: 8px;
	.header {
		display: flex;
		padding: 20px;
		align-items: center;
		justify-content: space-between;
		.left {
			display: flex;
			align-items: center;
			gap: 0.2vw;
			color: $gray-600;
			font-size: 13px;
			font-family: metro;
		}
		.right {
			color: $gray-600;
			font-size: 10px;
			font-weight: 800;
			font-family: metro;
			color: #00ba8c;
		}
	}
	.dates {
		padding: 20px;
		padding-top: 0;
		.days {
			display: flex;
			font-family: metro;
			table {
				width: 100%;
				font-size: 10px;
				td {
					height: 4vh;
					width: 14.2%;
					text-align: center;
					color: $gray-300;
					vertical-align: middle;
				}
			}
		}
		.month {
			font-family: metro;
			width: auto;
			padding-top: 1vh;
			padding-bottom: 1vh;
			text-transform: uppercase;
			color: $gray-500;
		}
		.dates-table {
			font-family: metro;
			table {
				width: 100%;

				td {
					cursor: pointer;
					height: 6vh;
					width: 14.2%;
					text-align: center;
					vertical-align: middle;
					.date {
						font-size: 12px;
						font-weight: 800;
					}
					.price {
						font-size: 8px;
						margin-top: 0.5vh;
						font-weight: 800;
						color: $gray-300;
					}
				}
			}
		}
	}
	.footer {
		padding: 12px 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #00ba8c;
		border-radius: 0px 0px 8px 8px;

		.left {
			font-family: metro;
			align-items: center;
			.heading {
				font-size: 14px;
				color: $gray-000;
				font-weight: 800;
			}
			.subheading {
				margin-top: 0.7vh;
				font-size: 10px;
				color: $gray-000;
				font-weight: 800;
				opacity: 0.6;
			}
		}
		.right {
			button {
				background-color: white;
				font-size: 12px;
				font-family: metro;
				font-weight: 800;
				color: $gray-600;
				padding: 14px 32px;
				border-radius: 4px;
				border: none;
				cursor: pointer;
				&:hover {
					background-color: #ededed;
				}

				&:focus {
					outline: none;
				}
			}
		}
	}
}
.hero {
	display: flex;
	margin-left: 10vw;
	margin-right: 10vw;
	justify-content: space-between;
	height: 100vh;
	.heading-pair {
		margin-top: 32vh;
		width: 32vw;
		.heading {
			.context {
				font-family: aktiv;
				font-weight: 600;
				font-size: 12px;
				color: $gray-200;
				text-transform: uppercase;
			}
			.name {
				margin-top: 1vh;
				font-family: aktiv;
				font-weight: 200;
				font-size: 32px;
				color: $gray-500;
			}
		}
		.subheading {
			margin-top: 8vh;
			font-family: aktiv;
			font-size: 13px;
			color: $gray-300;
			line-height: 22px;
		}
	}
	.components {
		display: flex;
		margin-top: 6vh;
		gap: 16px;
		.col-1 {
			display: flex;
			gap: 16px;
			flex-direction: column;
			.bottom-nav {
				@include bottom-nav;
			}
			.reach-card {
				@include reach-card;
			}
			.night-mode-card {
				@include night-mode-card;
			}
			.review-card {
				@include review-card;
			}
		}
		.col-2 {
			display: flex;
			gap: 16px;
			flex-direction: column;
			.about-card {
				@include about-card;
			}
			.calendar-card {
				@include calendar-card;
			}
		}
	}
}

.problem {
	margin-top: 10vh;
	.heading-pair {
		margin-left: 10vw;
		margin-right: 10vw;
		width: 32vw;

		.heading {
			font-family: aktiv;
			font-weight: 200;
			font-size: 24px;
			color: $gray-500;
		}
		.subheading {
			margin-top: 4vh;
			font-family: aktiv;
			font-size: 13px;
			color: $gray-300;
			line-height: 22px;
		}
	}
	.platform {
		margin-top: 3vh;
		margin-left: 10vw;
	}
}

.principles {
	margin-top: 10vh;
	background-color: $gray-700;
	width: 100vw;
	padding-top: 10vh;
	padding-bottom: 10vh;

	.heading-pair {
		margin-left: 10vw;
		margin-right: 10vw;
		.heading {
			font-family: aktiv;
			font-weight: 200;
			font-size: 24px;
			color: $gray-100;
		}
		.subheading {
			margin-top: 4vh;
			font-family: aktiv;
			font-size: 13px;
			color: $gray-300;
		}
	}

	@mixin grid-card {
		margin-right: 1vw;
		background-color: $gray-600;
		border-radius: 4px;
		transform-style: preserve-3d;
		transform: perspective(1000px);
		.heading {
			margin-top: 2vh;
			font-family: aktiv;
			font-size: 14px;
			color: $gray-000;
		}
		.subheading {
			margin-top: 1vh;
			font-family: aktiv;
			font-size: 12px;
			line-height: 18px;
			color: $gray-200;
		}

		.inner {
			transform: translateZ(20px);
			padding: 48px 24px 40px 24px;
		}
	}

	.grid {
		margin-top: 6vh;
		margin-left: 10vw;
		margin-right: 10vw;
		display: flex;
		width: 50%;
		.grid-card {
			@include grid-card;
		}
	}
}

.process {
	padding-bottom: 10vh;
	padding-top: 10vh;
	margin-left: 10vw;
	margin-right: 10vw;
	.heading-pair {
		width: 32vw;

		.heading {
			font-family: aktiv;
			font-weight: 200;
			font-size: 24px;
			color: $gray-700;
		}
		.subheading {
			margin-top: 4vh;
			font-family: aktiv;
			font-size: 13px;
			color: $gray-300;
			line-height: 22px;
		}
	}

	.points{
		margin-top: 6vh;
		width: 32vw;
		.list-item{
			margin-bottom: 4vh;
			.heading{
				display: flex;
				align-items: center;
				font-family: aktiv;
				font-size: 13px;
				color: $gray-600;
			}
			.subheading{
				font-family: aktiv;
				font-size: 13px;
				color: $gray-300;
				margin-top: 1vh;
				line-height: 22px;
			}
		}
	}
}
