$gray-700: #090909;
$gray-600: #141414;
$gray-500: #292929;
$gray-400: #494949;
$gray-300: #696969;
$gray-200: #cccccc;
$gray-100: #fafafa;
$gray-000: #ffffff;

@font-face {
	src: url(/resources/fonts/AktivGrotesk-Light.ttf);
	font-family: aktiv;
	font-weight: 200;
}
@font-face {
	src: url(/resources/fonts/AktivGrotesk-Regular.ttf);
	font-family: aktiv;
	font-weight: 400;
}
@font-face {
	src: url(/resources/fonts/AktivGrotesk-Medium.ttf);
	font-family: aktiv;
	font-weight: 600;
}
@font-face {
	src: url(/resources/fonts/AktivGrotesk-Bold.ttf);
	font-family: aktiv;
	font-weight: 800;
}
@font-face {
	src: url(/resources/fonts/Metropolis-Medium.otf);
	font-family: metro;
	font-weight: 600;
}

* {
	margin: 0;
	user-select: none;
}
body {
	background-color: white;
	-webkit-font-smoothing: antialiased;
}

@mixin bottom-nav {
	background-color: $gray-100;
	height: max-content;
	border-radius: 8px;
	width: 20vw;
	min-width: max-content;

	.icons {
		display: flex;
		// gap: 3vw;
		padding: 20px;
		justify-content: space-between;
		.tab {
			img {
				filter: opacity(0.3);
			}
			[type='radio'] {
				position: absolute;
				z-index: 999;
				opacity: 0;
				cursor: pointer;
				width: 1.4vw;
				height: 1.4vw;

				&:checked ~ img {
					opacity: 1;
					filter: opacity(1);
				}
			}
			cursor: pointer;
		}
	}
}

@mixin reach-card {
	height: max-content;
	width: 20vw;
	display: flex;
	flex-direction: column;
	img {
		margin-right: 1vw;
	}
	.content {
		display: flex;
		background-color: $gray-100;
		padding: 20px;
		border-radius: 8px;
		.heading-pair {
			margin-top: 0;

			.heading {
				font-size: 12px;
				font-family: metro;
			}

			.subheading {
				margin-top: 0.6vh;
				font-size: 10px;
				font-family: metro;
				color: $gray-300;
				line-height: 14px;
			}
		}
	}
	.card1 {
		z-index: 999;
		animation: moveCard1 0.6s ease-in-out infinite;
		animation-delay: 2s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;

		@keyframes moveCard1 {
			25% {
				transform: translateY(0px);
			}
			50% {
				transform: translateY(-10px) scale(0.9);
			}
			75% {
				transform: translateY(0px) scale(0.9);
			}
			100% {
				transform: translateY(10px) scale(0.9);
				opacity: 0.6;
			}
		}
	}
	.card2 {
		opacity: 0.6;
		transform: scale(0.9);
		margin-top: -78px;
		animation: moveCard2 0.6s ease-in-out 2.2s 1 forwards;

		@keyframes moveCard2 {
			25% {
				transform: translateY(0px);
			}
			50% {
				transform: translateY(-6px) scale(1);
				opacity: 1;
				z-index: 9999;
			}
			75% {
				transform: translateY(-6px) scale(1);
				opacity: 1;
				z-index: 9999;
			}
			100% {
				transform: translateY(-6px) scale(1);
				opacity: 1;
				z-index: 9999;
			}
		}
	}
}

.hero {
	display: flex;
	margin-left: 10vw;
	margin-right: 10vw;
	justify-content: space-between;
	height: 100vh;
	.heading-pair {
		margin-top: 32vh;
		width: 32vw;
		.heading {
			.context {
				font-family: aktiv;
				font-weight: 600;
				font-size: 12px;
				color: $gray-200;
				text-transform: uppercase;
			}
			.name {
				margin-top: 1vh;
				font-family: aktiv;
				font-weight: 200;
				font-size: 32px;
				color: $gray-500;
			}
		}
		.subheading {
			margin-top: 8vh;
			font-family: aktiv;
			font-size: 13px;
			color: $gray-300;
			line-height: 22px;
		}
	}
	.components {
		display: flex;
		margin-top: 6vh;
		.col-1 {
			display: flex;
			gap: 1vh;
			flex-direction: column;
			.bottom-nav {
				@include bottom-nav;
			}
			.reach-card {
				@include reach-card;
			}
		}
		.col-2 {
			display: flex;
			flex-direction: column;
		}
	}
}

.problem {
	margin-top: 10vh;
	.heading-pair {
		margin-left: 10vw;
		margin-right: 10vw;
		width: 32vw;

		.heading {
			font-family: aktiv;
			font-weight: 200;
			font-size: 24px;
			color: $gray-500;
		}
		.subheading {
			margin-top: 4vh;
			font-family: aktiv;
			font-size: 13px;
			color: $gray-300;
			line-height: 22px;
		}
	}
	.platform {
		margin-top: 3vh;
		margin-left: 10vw;
	}
}

.principles {
	margin-top: 10vh;
	background-color: $gray-700;
	width: 100vw;
	padding-top: 10vh;
	padding-bottom: 10vh;

	.heading-pair {
		margin-left: 10vw;
		margin-right: 10vw;
		.heading {
			font-family: aktiv;
			font-weight: 200;
			font-size: 24px;
			color: $gray-100;
		}
		.subheading {
			margin-top: 4vh;
			font-family: aktiv;
			font-size: 13px;
			color: $gray-300;
		}
	}

	@mixin grid-card {
		margin-right: 1vw;
		background-color: $gray-600;
		border-radius: 4px;
		transform-style: preserve-3d;
		transform: perspective(1000px);
		.heading {
			margin-top: 2vh;
			font-family: aktiv;
			font-size: 14px;
			color: $gray-000;
		}
		.subheading {
			margin-top: 1vh;
			font-family: aktiv;
			font-size: 12px;
			line-height: 18px;
			color: $gray-200;
		}

		.inner {
			transform: translateZ(20px);
			padding: 48px 24px 40px 24px;
		}
	}

	.grid {
		margin-top: 6vh;
		margin-left: 10vw;
		margin-right: 10vw;
		display: flex;
		width: 48vw;
		.grid-card {
			@include grid-card;
		}
	}
}
