$gray-700: #090909;
$gray-600: #141414;
$gray-500: #292929;
$gray-400: #494949;
$gray-300: #696969;
$gray-200: #cccccc;
$gray-100: #fafafa;
$gray-000: #ffffff;

@font-face {
	src: url(/resources/fonts/AktivGrotesk-Light.ttf);
	font-family: aktiv;
	font-weight: 200;
}
@font-face {
	src: url(/resources/fonts/AktivGrotesk-Regular.ttf);
	font-family: aktiv;
	font-weight: 400;
}
@font-face {
	src: url(/resources/fonts/AktivGrotesk-Medium.ttf);
	font-family: aktiv;
	font-weight: 600;
}
@font-face {
	src: url(/resources/fonts/AktivGrotesk-Bold.ttf);
	font-family: aktiv;
	font-weight: 800;
}
* {
	margin: 0;
	user-select: none;
}
body {
	background-color: white;
	-webkit-font-smoothing: antialiased;
}

.hero {
	display: flex;
	margin-left: 10vw;
	margin-right: 10vw;
	justify-content: space-between;
	height: 100vh;
	.heading-pair {
		margin-top: 32vh;
        width: 32vw;
		.heading {
			.context {
				font-family: aktiv;
				font-weight: 600;
				font-size: 12px;
				color: $gray-200;
				text-transform: uppercase;
			}
			.name {
				margin-top: 1vh;
				font-family: aktiv;
				font-weight: 200;
				font-size: 32px;
				color: $gray-500;
			}
		}
		.subheading {
			margin-top: 8vh;
			font-family: aktiv;
			font-size: 13px;
			color: $gray-300;
			line-height: 22px;
		}
	}
	.image {
        display: flex;
        margin-top: 6vh;
        transform: scale(0.94);
        .col-1{
            display: flex;
            flex-direction: column;
            margin-right: 1.4vh;
        }
        .col-2{
            display: flex;
            flex-direction: column;
        }
	}
}

.problem{
    margin-top: 10vh;
    .heading-pair {
		margin-left: 10vw;
        margin-right: 10vw;
        width: 32vw;

		.heading {
			font-family: aktiv;
			font-weight: 200;
			font-size: 22px;
			color: $gray-500;
		}
		.subheading {
			margin-top: 4vh;
			font-family: aktiv;
			font-size: 13px;
            color: $gray-300;
            line-height: 22px;

		}
    }
    .platform{
        margin-top: 3vh;
        margin-left: 10vw;
    }
}

.principles {
    margin-top: 10vh;
	background-color: $gray-700;
	width: 100vw;
	padding-top: 10vh;
	padding-bottom: 10vh;

	.heading-pair {
		margin-left: 10vw;
		margin-right: 10vw;
		.heading {
			font-family: aktiv;
			font-weight: 200;
			font-size: 22px;
			color: $gray-100;
		}
		.subheading {
			margin-top: 4vh;
			font-family: aktiv;
			font-size: 13px;
			color: $gray-300;
		}
	}

	@mixin grid-card {
		margin-right: 1vw;
		background-color: $gray-600;
		border-radius: 4px;
		transform-style: preserve-3d;
		transform: perspective(1000px);
		.heading {
			margin-top: 2vh;
			font-family: aktiv;
			font-size: 14px;
			color: $gray-000;
		}
		.subheading {
			margin-top: 1vh;
			font-family: aktiv;
			font-size: 12px;
			line-height: 18px;
			color: $gray-200;
		}

		.inner {
			transform: translateZ(20px);
			padding: 48px 24px 40px 24px;
		}
	}

	.grid {
		margin-top: 6vh;
		margin-left: 10vw;
		margin-right: 10vw;
		display: flex;
		width: 48vw;
		.grid-card {
			@include grid-card;
		}
	}
}
