@font-face {
  src: url(/resources/fonts/AktivGrotesk-Light.ttf);
  font-family: aktiv;
  font-weight: 200;
}

@font-face {
  src: url(/resources/fonts/AktivGrotesk-Regular.ttf);
  font-family: aktiv;
  font-weight: 400;
}

@font-face {
  src: url(/resources/fonts/AktivGrotesk-Medium.ttf);
  font-family: aktiv;
  font-weight: 600;
}

@font-face {
  src: url(/resources/fonts/AktivGrotesk-Bold.ttf);
  font-family: aktiv;
  font-weight: 800;
}

@font-face {
  src: url(/resources/fonts/Metropolis-Medium.otf);
  font-family: metro;
  font-weight: 600;
}

@font-face {
  src: url(/resources/fonts/Metropolis-SemiBold.otf);
  font-family: metro;
  font-weight: 800;
}

* {
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  background-color: white;
  -webkit-font-smoothing: antialiased;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20vh;
  overflow-x: hidden;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
}

.hero .heading-pair {
  margin-left: 10vw;
  margin-top: 32vh;
  width: 32vw;
}

.hero .heading-pair .heading .context {
  font-family: aktiv;
  font-weight: 600;
  font-size: 12px;
  color: #cccccc;
  text-transform: uppercase;
}

.hero .heading-pair .heading .name {
  margin-top: 1vh;
  font-family: aktiv;
  font-weight: 200;
  font-size: 32px;
  color: #292929;
}

.hero .heading-pair .subheading {
  margin-top: 8vh;
  font-family: aktiv;
  font-size: 13px;
  color: #696969;
  line-height: 22px;
}

.hero .components {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10vw;
  margin-top: 6vh;
  gap: 16px;
}

.hero .components .col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .components .col-1 .bottom-nav {
  background-color: #fafafa;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 8px;
  width: 20vw;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.hero .components .col-1 .bottom-nav .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .components .col-1 .bottom-nav .icons .tab {
  cursor: pointer;
}

.hero .components .col-1 .bottom-nav .icons .tab img {
  -webkit-filter: opacity(0.3);
          filter: opacity(0.3);
}

.hero .components .col-1 .bottom-nav .icons .tab [type='radio'] {
  position: absolute;
  z-index: 999;
  opacity: 0;
  cursor: pointer;
  width: 1.4vw;
  height: 1.4vw;
}

.hero .components .col-1 .bottom-nav .icons .tab [type='radio']:checked ~ img {
  opacity: 1;
  -webkit-filter: opacity(1);
          filter: opacity(1);
}

.hero .components .col-1 .reach-card {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .components .col-1 .reach-card img {
  margin-right: 1vw;
}

.hero .components .col-1 .reach-card .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fafafa;
  padding: 20px;
  border-radius: 8px;
}

.hero .components .col-1 .reach-card .content .heading-pair {
  margin-top: 0;
  margin-left: 0;
}

.hero .components .col-1 .reach-card .content .heading-pair .heading {
  font-size: 12px;
  font-family: metro;
}

.hero .components .col-1 .reach-card .content .heading-pair .subheading {
  margin-top: 0.6vh;
  font-size: 10px;
  font-family: metro;
  color: #696969;
  line-height: 14px;
}

.hero .components .col-1 .reach-card .card1 {
  z-index: 999;
  -webkit-animation: moveCard1 0.6s ease-in-out infinite;
          animation: moveCard1 0.6s ease-in-out infinite;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes moveCard1 {
  25% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px) scale(0.9);
            transform: translateY(-10px) scale(0.9);
  }
  75% {
    -webkit-transform: translateY(0px) scale(0.9);
            transform: translateY(0px) scale(0.9);
  }
  100% {
    -webkit-transform: translateY(10px) scale(0.9);
            transform: translateY(10px) scale(0.9);
    opacity: 0.6;
  }
}

@keyframes moveCard1 {
  25% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-10px) scale(0.9);
            transform: translateY(-10px) scale(0.9);
  }
  75% {
    -webkit-transform: translateY(0px) scale(0.9);
            transform: translateY(0px) scale(0.9);
  }
  100% {
    -webkit-transform: translateY(10px) scale(0.9);
            transform: translateY(10px) scale(0.9);
    opacity: 0.6;
  }
}

.hero .components .col-1 .reach-card .card2 {
  opacity: 0.6;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  margin-top: -78px;
  -webkit-animation: moveCard2 0.6s ease-in-out 4.2s 1 forwards;
          animation: moveCard2 0.6s ease-in-out 4.2s 1 forwards;
}

@-webkit-keyframes moveCard2 {
  25% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-6px) scale(1);
            transform: translateY(-6px) scale(1);
    opacity: 1;
    z-index: 9999;
  }
  75% {
    -webkit-transform: translateY(-6px) scale(1);
            transform: translateY(-6px) scale(1);
    opacity: 1;
    z-index: 9999;
  }
  100% {
    -webkit-transform: translateY(-6px) scale(1);
            transform: translateY(-6px) scale(1);
    opacity: 1;
    z-index: 9999;
  }
}

@keyframes moveCard2 {
  25% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-6px) scale(1);
            transform: translateY(-6px) scale(1);
    opacity: 1;
    z-index: 9999;
  }
  75% {
    -webkit-transform: translateY(-6px) scale(1);
            transform: translateY(-6px) scale(1);
    opacity: 1;
    z-index: 9999;
  }
  100% {
    -webkit-transform: translateY(-6px) scale(1);
            transform: translateY(-6px) scale(1);
    opacity: 1;
    z-index: 9999;
  }
}

.hero .components .col-1 .night-mode-card {
  background-color: #090909;
  border-radius: 8px;
  text-align: center;
  width: 20vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.hero .components .col-1 .night-mode-card .content {
  padding: 40px;
  text-align: center;
}

.hero .components .col-1 .night-mode-card .content .moon-icon {
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .components .col-1 .night-mode-card .content .moon-icon .stars {
  margin-right: 4px;
}

.hero .components .col-1 .night-mode-card .content .moon-icon .stars #big {
  -webkit-animation: rotateStar 16s linear forwards;
          animation: rotateStar 16s linear forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes rotateStar {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateStar {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.hero .components .col-1 .night-mode-card .content .moon-icon .stars #small {
  -webkit-animation: rotateStar 10s linear forwards;
          animation: rotateStar 10s linear forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes rotateStar {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.hero .components .col-1 .night-mode-card .content button {
  background-color: #00ba8c;
  font-size: 12px;
  font-family: metro;
  font-weight: 800;
  color: white;
  padding: 10px 24px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-top: 2vh;
}

.hero .components .col-1 .night-mode-card .content button:hover {
  background-color: #008363;
}

.hero .components .col-1 .night-mode-card .content button:focus {
  outline: none;
}

.hero .components .col-1 .night-mode-card .content .heading-pair {
  margin: 0 auto;
  margin-top: 4vh;
  width: auto;
  text-align: center;
}

.hero .components .col-1 .night-mode-card .content .heading-pair .heading {
  font-family: metro;
  font-size: 14px;
  color: white;
}

.hero .components .col-1 .night-mode-card .content .heading-pair .subheading {
  margin-top: 0;
  font-family: metro;
  font-size: 11px;
  color: #cccccc;
  margin-top: 0.8vh;
  opacity: 0.8;
  line-height: 16px;
}

.hero .components .col-1 .review-card {
  width: 20vw;
  background-color: #fafafa;
  border-radius: 8px;
}

.hero .components .col-1 .review-card .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .components .col-1 .review-card .header .left {
  padding-bottom: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20vw;
}

.hero .components .col-1 .review-card .header .left .heading {
  font-family: metro;
  font-size: 12px;
  font-weight: 600;
  color: #141414;
}

.hero .components .col-1 .review-card .header .left .subheading {
  font-family: metro;
  font-size: 9px;
  font-weight: 600;
  color: #696969;
  opacity: 0.8;
  margin-top: 0.6vh;
}

.hero .components .col-1 .review-card .header .right {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.hero .components .col-1 .review-card .body {
  padding: 20px;
  padding-top: 0px;
  font-family: metro;
  font-size: 11px;
  line-height: 17px;
  letter-spacing: -0.3px;
  color: #141414;
  width: auto;
}

.hero .components .col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .components .col-2 .about-card {
  width: 20vw;
  background-color: #fafafa;
  border-radius: 8px;
  padding-right: 0;
}

.hero .components .col-2 .about-card .header {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .components .col-2 .about-card .header .left .heading {
  font-family: metro;
  font-size: 14px;
  font-weight: 600;
  color: #141414;
}

.hero .components .col-2 .about-card .header .left .subheading {
  font-family: metro;
  font-size: 9px;
  font-weight: 600;
  color: #696969;
  opacity: 0.8;
  margin-top: 0.6vh;
}

.hero .components .col-2 .about-card .header .right {
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  height: auto;
  padding-left: 5vw;
}

.hero .components .col-2 .about-card .header .right .cloud2 {
  color: #fafafa;
  background: #fafafa;
  position: absolute;
  width: 3.4875em;
  height: 3.4875em;
  border-radius: 50%;
  -webkit-box-shadow: 2.0625em 0.9375em 0 -0.9375em, 0 0 0 0.375em black, 2.0625em 0.9375em 0 -0.5625em black;
          box-shadow: 2.0625em 0.9375em 0 -0.9375em, 0 0 0 0.375em black, 2.0625em 0.9375em 0 -0.5625em black;
}

.hero .components .col-2 .about-card .header .right .rain {
  -webkit-transform: translate(1.3em, 2.2em);
          transform: translate(1.3em, 2.2em);
  width: 2.8em;
  height: 2.5em;
  background: #fafafa;
  position: absolute;
}

.hero .components .col-2 .about-card .header .right .rain:after {
  content: '';
  position: absolute;
  display: block;
  z-index: 2;
  color: black;
  background: black;
  width: 0.3em;
  height: 1em;
  border-radius: 0.15em;
  -webkit-transform: translate(0.4em, 0.2em) rotate(20deg);
          transform: translate(0.4em, 0.2em) rotate(20deg);
  -webkit-animation: rain 2s infinite ease-in-out;
          animation: rain 2s infinite ease-in-out;
  -webkit-box-shadow: 0.6em 0.6em, 1.2em -0.2em, 1.2em 1.2em, 1.8em 0.2em;
          box-shadow: 0.6em 0.6em, 1.2em -0.2em, 1.2em 1.2em, 1.8em 0.2em;
}

@-webkit-keyframes rain {
  0% {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0.6em 0.6em rgba(0, 0, 0, 0.2), 1.2em -0.2em rgba(0, 0, 0, 0.2), 1.2em 1.2em rgba(0, 0, 0, 0.2), 1.8em 0.2em rgba(0, 0, 0, 0.2);
            box-shadow: 0.6em 0.6em rgba(0, 0, 0, 0.2), 1.2em -0.2em rgba(0, 0, 0, 0.2), 1.2em 1.2em rgba(0, 0, 0, 0.2), 1.8em 0.2em rgba(0, 0, 0, 0.2);
  }
  30% {
    background-color: black;
    -webkit-box-shadow: 0.6em 0.6em rgba(0, 0, 0, 0.2), 1.2em -0.2em black, 1.2em 1.2em rgba(0, 0, 0, 0.2), 1.8em 0.2em rgba(0, 0, 0, 0.2);
            box-shadow: 0.6em 0.6em rgba(0, 0, 0, 0.2), 1.2em -0.2em black, 1.2em 1.2em rgba(0, 0, 0, 0.2), 1.8em 0.2em rgba(0, 0, 0, 0.2);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0.6em 0.6em black, 1.2em -0.2em 0 rgba(0, 0, 0, 0.2), 1.2em 1.2em rgba(0, 0, 0, 0.2), 1.8em 0.2em black;
            box-shadow: 0.6em 0.6em black, 1.2em -0.2em 0 rgba(0, 0, 0, 0.2), 1.2em 1.2em rgba(0, 0, 0, 0.2), 1.8em 0.2em black;
  }
  80% {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0.6em 0.6em rgba(0, 0, 0, 0.2), 1.2em -0.2em rgba(0, 0, 0, 0.2), 1.2em 1.2em black, 1.8em 0.2em rgba(0, 0, 0, 0.2);
            box-shadow: 0.6em 0.6em rgba(0, 0, 0, 0.2), 1.2em -0.2em rgba(0, 0, 0, 0.2), 1.2em 1.2em black, 1.8em 0.2em rgba(0, 0, 0, 0.2);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0.6em 0.6em rgba(0, 0, 0, 0.2), 1.2em -0.2em rgba(0, 0, 0, 0.2), 1.2em 1.2em rgba(0, 0, 0, 0.2), 1.8em 0.2em rgba(0, 0, 0, 0.2);
            box-shadow: 0.6em 0.6em rgba(0, 0, 0, 0.2), 1.2em -0.2em rgba(0, 0, 0, 0.2), 1.2em 1.2em rgba(0, 0, 0, 0.2), 1.8em 0.2em rgba(0, 0, 0, 0.2);
  }
}

@keyframes rain {
  0% {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0.6em 0.6em rgba(0, 0, 0, 0.2), 1.2em -0.2em rgba(0, 0, 0, 0.2), 1.2em 1.2em rgba(0, 0, 0, 0.2), 1.8em 0.2em rgba(0, 0, 0, 0.2);
            box-shadow: 0.6em 0.6em rgba(0, 0, 0, 0.2), 1.2em -0.2em rgba(0, 0, 0, 0.2), 1.2em 1.2em rgba(0, 0, 0, 0.2), 1.8em 0.2em rgba(0, 0, 0, 0.2);
  }
  30% {
    background-color: black;
    -webkit-box-shadow: 0.6em 0.6em rgba(0, 0, 0, 0.2), 1.2em -0.2em black, 1.2em 1.2em rgba(0, 0, 0, 0.2), 1.8em 0.2em rgba(0, 0, 0, 0.2);
            box-shadow: 0.6em 0.6em rgba(0, 0, 0, 0.2), 1.2em -0.2em black, 1.2em 1.2em rgba(0, 0, 0, 0.2), 1.8em 0.2em rgba(0, 0, 0, 0.2);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0.6em 0.6em black, 1.2em -0.2em 0 rgba(0, 0, 0, 0.2), 1.2em 1.2em rgba(0, 0, 0, 0.2), 1.8em 0.2em black;
            box-shadow: 0.6em 0.6em black, 1.2em -0.2em 0 rgba(0, 0, 0, 0.2), 1.2em 1.2em rgba(0, 0, 0, 0.2), 1.8em 0.2em black;
  }
  80% {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0.6em 0.6em rgba(0, 0, 0, 0.2), 1.2em -0.2em rgba(0, 0, 0, 0.2), 1.2em 1.2em black, 1.8em 0.2em rgba(0, 0, 0, 0.2);
            box-shadow: 0.6em 0.6em rgba(0, 0, 0, 0.2), 1.2em -0.2em rgba(0, 0, 0, 0.2), 1.2em 1.2em black, 1.8em 0.2em rgba(0, 0, 0, 0.2);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0.6em 0.6em rgba(0, 0, 0, 0.2), 1.2em -0.2em rgba(0, 0, 0, 0.2), 1.2em 1.2em rgba(0, 0, 0, 0.2), 1.8em 0.2em rgba(0, 0, 0, 0.2);
            box-shadow: 0.6em 0.6em rgba(0, 0, 0, 0.2), 1.2em -0.2em rgba(0, 0, 0, 0.2), 1.2em 1.2em rgba(0, 0, 0, 0.2), 1.8em 0.2em rgba(0, 0, 0, 0.2);
  }
}

.hero .components .col-2 .about-card .body {
  font-family: metro;
  font-size: 11px;
  padding: 20px;
  padding-top: 0px;
  line-height: 17px;
  letter-spacing: -0.3px;
  color: #141414;
  width: auto;
}

.hero .components .col-2 .calendar-card {
  width: 20vw;
  height: auto;
  background-color: #fafafa;
  border-radius: 8px;
}

.hero .components .col-2 .calendar-card .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .components .col-2 .calendar-card .header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.2vw;
  color: #141414;
  font-size: 13px;
  font-family: metro;
}

.hero .components .col-2 .calendar-card .header .right {
  color: #141414;
  font-size: 10px;
  font-weight: 800;
  font-family: metro;
  color: #00ba8c;
}

.hero .components .col-2 .calendar-card .dates {
  padding: 20px;
  padding-top: 0;
}

.hero .components .col-2 .calendar-card .dates .days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: metro;
}

.hero .components .col-2 .calendar-card .dates .days table {
  width: 100%;
  font-size: 10px;
}

.hero .components .col-2 .calendar-card .dates .days table td {
  height: 4vh;
  width: 14.2%;
  text-align: center;
  color: #696969;
  vertical-align: middle;
}

.hero .components .col-2 .calendar-card .dates .month {
  font-family: metro;
  width: auto;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-transform: uppercase;
  color: #292929;
}

.hero .components .col-2 .calendar-card .dates .dates-table {
  font-family: metro;
}

.hero .components .col-2 .calendar-card .dates .dates-table table {
  width: 100%;
}

.hero .components .col-2 .calendar-card .dates .dates-table table td {
  cursor: pointer;
  height: 6vh;
  width: 14.2%;
  text-align: center;
  vertical-align: middle;
}

.hero .components .col-2 .calendar-card .dates .dates-table table td .date {
  font-size: 12px;
  font-weight: 800;
}

.hero .components .col-2 .calendar-card .dates .dates-table table td .price {
  font-size: 8px;
  margin-top: 0.5vh;
  font-weight: 800;
  color: #696969;
}

.hero .components .col-2 .calendar-card .footer {
  padding: 12px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #00ba8c;
  border-radius: 0px 0px 8px 8px;
}

.hero .components .col-2 .calendar-card .footer .left {
  font-family: metro;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .components .col-2 .calendar-card .footer .left .heading {
  font-size: 14px;
  color: #ffffff;
  font-weight: 800;
}

.hero .components .col-2 .calendar-card .footer .left .subheading {
  margin-top: 0.7vh;
  font-size: 10px;
  color: #ffffff;
  font-weight: 800;
  opacity: 0.6;
}

.hero .components .col-2 .calendar-card .footer .right button {
  background-color: white;
  font-size: 12px;
  font-family: metro;
  font-weight: 800;
  color: #141414;
  padding: 14px 32px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.hero .components .col-2 .calendar-card .footer .right button:hover {
  background-color: #ededed;
}

.hero .components .col-2 .calendar-card .footer .right button:focus {
  outline: none;
}

.problem {
  background-color: white;
  margin-left: 10vw;
  margin-right: 10vw;
}

.problem .heading-pair {
  width: 32vw;
}

.problem .heading-pair .heading {
  font-family: aktiv;
  font-weight: 200;
  font-size: 24px;
  color: #090909;
}

.problem .heading-pair .subheading {
  font-family: aktiv;
  margin-top: 4vh;
  font-size: 13px;
  color: #696969;
  line-height: 22px;
}

.problem .platform {
  margin-top: 4vh;
}

.principles {
  background-color: #090909;
}

.principles .heading-pair {
  width: 32vw;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 16vh;
}

.principles .heading-pair .heading {
  font-family: aktiv;
  font-weight: 200;
  font-size: 24px;
  color: #090909;
}

.principles .heading-pair .subheading {
  font-family: aktiv;
  margin-top: 4vh;
  font-size: 13px;
  color: #696969;
  line-height: 22px;
}

.principles .heading-pair .heading {
  color: #fafafa;
}

.principles .heading-pair .subheading {
  color: #696969;
}

.principles .grid {
  margin-top: 8vh;
  margin-bottom: 16vh;
  margin-left: 10vw;
  margin-right: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1vw;
  width: 60%;
}

.principles .grid .grid-card {
  background-color: #141414;
  border-radius: 4px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(1000px);
          transform: perspective(1000px);
}

.principles .grid .grid-card .heading-pair-second .heading {
  font-family: aktiv;
  font-size: 13px;
}

.principles .grid .grid-card .heading-pair-second .subheading {
  font-family: aktiv;
  font-size: 13px;
  line-height: 22px;
}

.principles .grid .grid-card .heading-pair-second .heading {
  margin-top: 4vh;
  color: #ffffff;
}

.principles .grid .grid-card .heading-pair-second .subheading {
  margin-top: 1vh;
  color: #cccccc;
}

.principles .grid .grid-card .inner {
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
  padding: 48px 24px 40px 24px;
}

.process {
  margin-left: 10vw;
  margin-right: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.process .heading-pair {
  width: 32vw;
}

.process .heading-pair .heading {
  font-family: aktiv;
  font-weight: 200;
  font-size: 24px;
  color: #090909;
}

.process .heading-pair .subheading {
  font-family: aktiv;
  margin-top: 4vh;
  font-size: 13px;
  color: #696969;
  line-height: 22px;
}

.process .points {
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6vh;
}

.process .points .list-item {
  width: 32vw;
}

.process .points .list-item .heading {
  font-family: aktiv;
  font-size: 13px;
}

.process .points .list-item .subheading {
  font-family: aktiv;
  font-size: 13px;
  line-height: 22px;
}

.process .points .list-item .heading {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #141414;
}

.process .points .list-item .subheading {
  color: #696969;
  margin-top: 1vh;
}

.process .right {
  width: 68vw;
}

.process .right .anatomy {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  margin-top: 20%;
  position: relative;
}

.process .right .anatomy .stack {
  width: 31.25rem;
  height: 5rem;
  position: absolute;
  display: -ms-grid;
  display: grid;
  -webkit-transform: rotateY(-30deg) rotateX(50deg);
          transform: rotateY(-30deg) rotateX(50deg);
  border-radius: 8px;
  margin-left: 15%;
  cursor: pointer;
}

.process .right .anatomy .stack:nth-child(1) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0px;
  left: -20px;
  z-index: 3;
  background-image: url(/resources/images/icons.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.process .right .anatomy .stack:nth-child(2) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 20px;
  left: -10px;
  z-index: 2;
  opacity: 0.5;
  background-image: url(/resources/images/icons-container.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.process .right .anatomy .stack:nth-child(3) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 40px;
  z-index: 1;
  background-color: #fafafa;
}

@-webkit-keyframes move-stack {
  from {
  }
  to {
    top: 40px;
    left: 0px;
  }
}

@keyframes move-stack {
  from {
  }
  to {
    top: 40px;
    left: 0px;
  }
}

.iconography {
  margin-left: 10vw;
  margin-right: 10vw;
}

.iconography .heading-pair {
  width: 32vw;
}

.iconography .heading-pair .heading {
  font-family: aktiv;
  font-weight: 200;
  font-size: 24px;
  color: #090909;
}

.iconography .heading-pair .subheading {
  font-family: aktiv;
  margin-top: 4vh;
  font-size: 13px;
  color: #696969;
  line-height: 22px;
}

.iconography .icons {
  margin-top: 8vh;
  background-image: url(/resources/images/iconList.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.components-show {
  margin-left: 10vw;
  margin-right: 10vw;
  -webkit-perspective: 8px;
          perspective: 8px;
  -webkit-perspective-origin: 0%;
          perspective-origin: 0%;
}

.components-show .heading-pair {
  width: 32vw;
}

.components-show .heading-pair .heading {
  font-family: aktiv;
  font-weight: 200;
  font-size: 24px;
  color: #090909;
}

.components-show .heading-pair .subheading {
  font-family: aktiv;
  margin-top: 4vh;
  font-size: 13px;
  color: #696969;
  line-height: 22px;
}

.components-show .component-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8vh;
  gap: 1vw;
}

.components-show .component-grid .co-col-1 {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 22vw;
  margin-top: 4vh;
  background-image: url(/resources/images/components/col1.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.components-show .component-grid .co-col-2 {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 22vw;
  margin-top: 12vh;
  background-image: url(/resources/images/components/col2.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.components-show .component-grid .co-col-3 {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 22vw;
  background-image: url(/resources/images/components/col3.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.components-show .component-grid .co-col-4 {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 22vw;
  margin-top: 8vh;
  background-image: url(/resources/images/components/col4.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 1200px) {
  .hero {
    display: none;
  }
  .heading-pair-second .heading {
    font-size: 12px !important;
  }
  .heading-pair-second .subheading {
    font-size: 12px !important;
    line-height: 20px !important;
  }
  .heading-pair {
    width: 48vw !important;
  }
  .heading-pair .heading {
    font-size: 22px !important;
  }
  .heading-pair .subheading {
    font-size: 12px !important;
    line-height: 20px !important;
  }
  .principles .grid {
    width: 60%;
  }
  .process .right .anatomy .stack {
    width: 25rem;
    height: 4rem;
    margin-left: 0%;
    margin-top: 30%;
  }
}

@media (max-width: 1000px) {
  .principles .grid {
    width: 72%;
  }
  .components-show .component-grid {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .components-show .component-grid .co-col-1 {
    margin-top: 0;
    width: 28vw;
  }
  .components-show .component-grid .co-col-2 {
    margin-top: 0;
    width: 28vw;
  }
  .components-show .component-grid .co-col-3 {
    margin-top: 0;
    width: 28vw;
  }
  .components-show .component-grid .co-col-4 {
    margin-top: 0;
    width: 28vw;
  }
  .problem .platform img {
    width: 32vw;
  }
  .process .right .anatomy .stack {
    margin-left: -10%;
    margin-top: 30%;
  }
}

@media (max-width: 800px) {
  .iconography .icons {
    background-size: cover;
    height: 30vh;
  }
  .problem .platform img {
    width: 38vw;
  }
  .principles .grid {
    width: 80%;
  }
  .heading-pair {
    width: 72vw !important;
  }
  .process .left .points {
    gap: 4vh;
  }
  .process .left .points .list-item {
    width: 48vw;
  }
  .process .right {
    display: none;
  }
}

@media (max-width: 620px) {
  .heading-pair-second {
    width: 60vw !important;
  }
  .heading-pair {
    width: 80vw !important;
  }
  .problem .platform img {
    width: 48vw;
  }
  .principles .grid {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .principles .grid .grid-card {
    width: 100%;
  }
  .components-show .component-grid .co-col-1 {
    width: 39vw;
  }
  .components-show .component-grid .co-col-2 {
    width: 39vw;
  }
  .components-show .component-grid .co-col-3 {
    width: 39vw;
  }
  .components-show .component-grid .co-col-4 {
    width: 39vw;
  }
}

@media (max-width: 480px) {
  .problem .platform img {
    width: 72vw !important;
  }
  .process .left .points .list-item {
    width: 72vw !important;
  }
  .problem .platform img {
    width: 60vw;
  }
  .components-show .component-grid .co-col-1 {
    width: 80vw;
  }
  .components-show .component-grid .co-col-2 {
    width: 80vw;
  }
  .components-show .component-grid .co-col-3 {
    width: 80vw;
  }
  .components-show .component-grid .co-col-4 {
    width: 80vw;
  }
}
/*# sourceMappingURL=style.css.map */